body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Dark mode */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.chat-container {
    max-width: 1500px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 700px;
    overflow-y: auto;
}

.message-container {
    display: flex;
    gap: 10px;
}

.message {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-message {
    background-color: #77aaff;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #f1f0f0;
    color: #333;
    align-self: flex-start;
}   

.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Adjusted input size */
input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #f1f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.enter-button {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #77aaff;
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.chat-container::after {
    content: "";
    display: table;
    clear: both;
}

.appbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appbar h2 {
    margin: 0;
}

.appbar button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

/* Dark mode button */
.dark-mode-button {
    background-color: #1a1a1a;
    color: #f4f4f4;
}

/* Hover effect for buttons */
.appbar button:hover,
.start-chatting-btn:hover,
.enter-button:hover,
.dark-mode-button:hover {
    background-color: #e3e3e3;
}