<!DOCTYPE html>
<html>
<head>
    <title>Create Your Charc</title>
    <link rel="stylesheet" href="static/create.css">
</head>
<body>
    <h1>Create Char</h1>
    <form action="/create_chat" method="post">
        <label for="user">User:</label>
        <input type="text" id="user" name="user" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="short_desc">Short Description:</label>
        <input type="text" id="short_desc" name="short_desc" required>

        <label for="long_desc">Long Description: (include talking manner looks and personality)</label>
        <textarea id="long_desc" name="long_desc" rows="4" required></textarea>

        <label for="alias">Starting Scenario:(do not remove &lt;Start&gt; \\n after the end)</label>
        <input type="text" id="scenario" name="scenario" required value="Her office, in the Shogun palace. . . &lt;Start&gt; \\n">

        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin" required value="">

        <label for="chat">Chat: (add as many dialouge you would like just keep the last dialouge to be {user}: and empty)</label>
        <textarea id="chat" name="chat" rows="4" required>{char}: *you enter her office, she looks at you*
"Who are you?
{user}:</textarea>

        <label for="image">Image:(pre hosted image only sad lyf)</label>
        <input type="text" id="image" name="image" required>


        <input type="submit" value="Create">
    </form>
</body>
</html>
