<!DOCTYPE html>
<html>
<head>
    <title>Chipling Home Page</title>
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <header class="app-bar">
        <h1 class="logo">Chipling Ai Web</h1>
        <input type="text" placeholder="Search...">
        <a href="/create">
            <button>Create</button>
        </a>
    </header>
    <div class="container">
        <!-- Loop through the characters and display them as cards -->
        {% for character in data %}
        <div class="character-card">
            <h2>{{ character.name }}</h2>
            <img src="{{character.image}}" alt="thumbnail">
            <p>{{ character.short_desc }}</p>
            <a href="/info/{{ character.id }}">Chat with {{ character.name }}</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
