 <!-- Video Source -->
 <head>
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/script/index.js"></script>
 </head>
  <!-- https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
  <section class="showcase">
    <header>
      <h2 class="logo">Chipling</h2>
      <a href="/create"><h2 class="logo">Create</h2></a>
      <a href="/home"><h2 class="logo">Explore</h2></a>
      <a href="/api"><h2 class="logo">Api</h2></a>
      <div class="toggle"></div>
    </header>
    
    <video src="https://traversymedia.com/downloads/videos/explore.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Chipling Web </h2> 
      <h3>Powered By Rika AI</h3>
      <p>Rika AI is a meticulously crafted Language Model (LLM) designed to provide exceptional human-like chat experiences. We're dedicated to maintaining free access and API availability for our users..</p>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Destination</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>