    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rika - {{data[0].name}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>  
        <div class="appbar">
            <h2>{{data[0].user}} - {{data[0].name}}</h2>
            <a href="/">
                <button>Home</button>
            </a>
            <!-- Create button -->
            <a href="/create">
                <button>Create</button>
            </a>
            <!-- Description button -->
            <button id="descriptionButton">Description</button>
        </div>
        <div class="profile">
            <img src="{{data[0].image}}" alt="{{data[0].name}}'s profile picture">
            <h1>{{data[0].name}}</h1>
            <p>{{data[0].short_desc}}</p>
            <div class="button-container">
                <a class="start-chatting-btn" href="/chat/{{data[0].id}}">Start Chatting</a>
            </div>
        </div>
        <div class="dialogue">
            <p><strong>Origin:</strong></p>
            <p><em>{{data[0].origin}}</em></p>
            <p><strong>Creator:</strong></p>
            <p>{{data[0].name}}</p>
            <p><strong>Scenario:</strong></p>
            <p><em>{{data[0].dialouge}}</em></p>
            <p><strong>Chat</strong
            <p><em>{{data[0].chat}}</em><p>
            <p><strong>Description</strong
            <p><em>{{data[0].long_desc}}</em><p>
